<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.gattserver.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cz.gattserver.android.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cz.gattserver.android.recipes.RecipesActivity"></activity>
        <activity android:name="cz.gattserver.android.recipes.RecipeActivity"></activity>
        <activity android:name="cz.gattserver.android.songs.SongsActivity"></activity>
        <activity android:name="cz.gattserver.android.songs.SongActivity"></activity>
        <activity android:name="cz.gattserver.android.campgames.CampgamesActivity"></activity>
        <activity android:name="cz.gattserver.android.campgames.CampgameActivity"></activity>
        <activity android:name="cz.gattserver.android.drinks.DrinksActivity"></activity>
        <activity android:name="cz.gattserver.android.drinks.BeersActivity"></activity>
        <activity android:name="cz.gattserver.android.drinks.BeerActivity"></activity>
        <activity android:name="cz.gattserver.android.drinks.RumsActivity"></activity>
        <activity android:name="cz.gattserver.android.drinks.RumActivity"></activity>
        <activity android:name="cz.gattserver.android.drinks.WhiskiesActivity"></activity>
        <activity android:name="cz.gattserver.android.drinks.WhiskeyActivity"></activity>
        <activity android:name="cz.gattserver.android.photogallery.PhotogalleriesActivity"></activity>
        <activity android:name="cz.gattserver.android.photogallery.PhotogalleryActivity"></activity>
        <activity android:name="cz.gattserver.android.photogallery.PhotoActivity"></activity>
        <activity android:name="cz.gattserver.android.messages.MessagesActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />

</manifest>